.join-chat {
  min-width: 345px;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#888;
}


.join-chat-container {
  padding: 0 20px;
  width: 50%;
  max-width: 500px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: white;
}

h3 {
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  font-size: x-large;
}

.join-chat-container input {
  margin: 20px 0;
  height: 40px;
  padding: 5px 10px;
  font-size: large;
  width: 100%;
}

.join-chat-container button {
  margin: 20px 0;
  cursor: pointer;
  height: 40px;
  padding: 1px 10px;
  font-size: large;
  width: 100%;
  background-color: green;
  color: white;
}

.join-chat-container button:hover {
  background-color: rgb(0, 97, 0);
}