.signup {
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(22, 3, 37, 0.74), rgba(25, 9, 61, 0.849));
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  min-width: 345px;
  border: 1px black solid;
  background-color: white;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

label {
  font-size: larger;
}

input {
  color: white;
  height: 40px;
  padding: 5px 10px;
  font-size: large;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: gray 2px groove;
}

input:focus {
  outline: none;
  border-bottom: white 1px groove;
}

[type='submit'] {
  margin-top: 30px;
  cursor: pointer;
  height: 40px;
  padding: 1px 10px;
  font-size: large;
  width: 100%;
  color: white;  
  background-image: linear-gradient(to right, rgba(109, 13, 182, 0.897), rgba(49, 18, 119, 0.938));
}

[type='submit']:hover {
  background-image: linear-gradient(to right, rgba(109, 13, 182, 0.959), rgba(48, 18, 119, 0.979));
}

.response {
  color: rgb(112, 112, 199);
  text-align: center;
  margin-top: 20px;
}
